.section-height {
    height: 500px;
}
.text-capitalize-main {
    text-transform: capitalize;
}

.mt-navbar {
    margin-top: 55px;
}

.title-section {
    color: #000000;
    border-bottom: 4px solid #007BFF;
    display: inline-block;
}

.top-margin {
    margin-top: 40px;
}

footer {
    color: #FFF;
}