.area-color-custom {
    background-color: #1fc8db;
    background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%, transparent);
}

.area-top-height {
    height: 350px;
    margin-bottom: 50px;
}

.area-video {
    position: absolute;
    width: 500px;
    margin-top: 50px;
}

.section-height {
    height: 500px;
}

.text-capitalize-main {
    text-transform: capitalize;
}

ul.no-style {
    list-style: none;
    margin-left: -30px;
}

.mt-navbar {
    margin-top: 55px;
}

.title-section {
    color: #000000;
    border-bottom: 4px solid #007BFF;
    display: inline-block;
}

.top-margin {
    margin-top: 40px;
}

footer {
    color: #FFF;
}